#divContent{
      position: absolute;
      margin-left: 21%;
      width: 79%;
      height: 100%;
}

.divContentMain{
      position: absolute;
      margin: 0px auto;
      width: 100%;
      height: 100%;
      overflow-y: auto;
}

#contentPanel{
      display: none;
      position: absolute;
      z-index: 10;
      margin: 0.5%;
      width: 97%;
      height: 97%;
      background-color: rgba(0,0,0,0.1);
}

#divAbout{
      background-color: rgba(255,255,255, 0.7);

      padding: 50px;
      margin-top: 20px;

      width: 91%;
      height: 80%;

      overflow-y:auto;
}

p{
      text-align: justify;
      font-family: helvetica, arial;
}

#divHome, #divBlog, #divImages, #divStatistics{
      display: none;
}

#selector{
      margin-bottom: 10px;
}

#selector > h3{
      float: left;
      margin-right: 15px;
}

#graphicImages{
      margin-bottom: 80px;
}