*{
      margin: 0px;
      padding: 0px;
}

body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      background-color: rgba(210, 230, 255, 0.5);
      background-image: url("./../img/background.jpg");
      --background-repeat: no-repeat;
      background-size: 15%;
}
