.imagePostClass, .postClass{
      font-family: helvetica, arial;

      position: absolute;

      background: rgba(0,0,0,0.7);;

      margin: 0.5%;

      width: 99%;
      height: 98%;
}

.divImage{
      float: left;

      height: 94%;
      width: 50%;

      margin-top: 1.5%;
      margin-left: 1%;
}

.imgMaxPost{
      background-color: green;

      width: 100%;
      max-height: 100%;
}

.divExit{
      margin-top: 1.5%;

      width: 48%;
      height: 5%;

      float: left;
}

.postClass .divExit{
      width: 99%;
}

.divExit h1{
      margin-top: 1px;
      margin-right: 3px;

      color: white;

      cursor: pointer;

      float: right;
}

.divExif{
      width: 48%;
      height: 89%;

      padding: 7px;
      float: left;

      overflow-y: auto;
}

.btStar1, .btStar0{
      float: right;
      background-size: cover;
      background-color: transparent;
      border: none;
      width: 30px;
      height: 30px;
      margin-right: 20px;
      cursor: pointer;
}

.btStar0{
      background-image: url("../img/star_off.png");
}

.btStar1{
      background-image: url("../img/star.png");
}

.postClass .divExif{
      width: 99%;
}

.divExif p{
      text-align: justify;

      font-family: helvetica, arial;
      font-size: 14px;

      padding: 5px;

      color: white;
}

.postClass .divExif p{
      padding: 35px;
}

.divExif h3{
      font-family: helvetica, arial;
      color: white;
}
