.postMinClass{
      font-family: helvetica, arial;
}

.postMinClass, .imagePostMinClass{
      background-color: white;
      float: left;

      margin: 10px 1% 10px 1%;

      padding: 10PX;

      width: 27%;

      -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.8);
      box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.8);
}

.postMinClass:hover, .imagePostMinClass:hover{
      background: rgb(255,255,150);
      cursor: pointer;
      transition: 1s;
}

.postMinClass{
      height: 400px;
}

.imagePostMinClass{
      height: 400px;
}

.h1PostMin{
      margin: 10px 0px 10px 0px;
      text-align: left;
}

.pDatePubli{
      text-align: left;
      font-size: 11px;
      margin: 10px 0px 5px 0px;
}

.imgPostMin{
      width: 100%;
      max-height: 150px;
}

.sectionPostMin{
      height: 335px;
      overflow: hidden;
      text-align: justify;
      font-size: 15px;
}

.imagePostMinClass .sectionPostMin{
      height: 185px;
}
